.intro-header {
  height: unset !important;
  background-color: rgb(48, 47, 47);
}
.view {
  height: 100vh !important;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/nicole-george.appspot.com/o/mirador2.jpeg?alt=media&token=ceaec82e-b6a4-4350-929f-aa12ed7fba4d);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center ;
}
h1 {
  letter-spacing: 8px;
}
h2{
  color: #fff;
}
h5 {
  letter-spacing: 3px;
  color: #fff;
}
.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 700px;
  }
}
