<form [formGroup]="userForm">
                  <div style="display: flex; flex-direction: column; padding: 20px;">
                    <!-- Email -->
                    <mat-form-field>
                      <mat-label> Email </mat-label>
                      <input matInput formControlName="email" type="text">
                    </mat-form-field>
                    <!-- Email verification -->
                    <div *ngIf="userForm.get('email').invalid && (userForm.get('email').touched || userForm.get('email').dirty)" class="alert alert-danger">
                      <div *ngIf="userForm.get('email').errors.required">
                        Email is required
                      </div>
                    </div>

                    <!-- Password -->
                    <mat-form-field>
                        <mat-label > Password </mat-label>
                        <input matInput formControlName="password" type="password">
                    </mat-form-field>
                    <!-- Password verification -->
                    <div *ngIf="userForm.get('password').invalid &&
                              (userForm.get('password').touched ||
                              userForm.get('password').dirty)"
                          class="alert alert-danger">
                      <div *ngIf="userForm.get('password').errors.required">
                          Password is required
                      </div>
                    </div>
                  </div>
                  <button mat-mini-fab [ngStyle]="{'background': 'rgb(66, 103, 178'}" (click)="onLoginEmail()" >
                    <mat-icon>facebook</mat-icon>
                  </button>
                  <!-- facebook button -->
                  <button mat-mini-fab [ngStyle]="{'background': 'rgb(66, 103, 178'}" (click)="onloginFacebook()" >
                    <mat-icon>facebook</mat-icon>
                  </button>
                  <!-- Google button -->
                  <button mat-mini-fab [ngStyle]="{'background': 'rgb(219, 68, 55'}" (click)="onloginGoogle()">
                    <mat-icon>email</mat-icon>
                  </button>
                  </form>